{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://img.icons8.com/bubbles/50/hamburger.png">
    <title>{% block title %}Ashuka Fast food{% endblock title %}</title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}">
</head>
<body>
  {% block content %}
   
  {% endblock content %}
    
</body>
</html>